.contato {
    height: 80vh;
}

.contato p:first-child {
    top: 50%;
    transform: translateY(-50%);
    left: -5%;
    font-size: 15em;
    font-weight: bold;
    color: var(--color4);
    white-space: nowrap;
    z-index: -1;
}

.contato .title {
    font-family: var(--Architects);
    font-weight: bold;
}

.contato .link {
    font-size: 2em;
    color: var(--color1);
    transition: .5s;
}

.contato .link:hover {
    color: var(--color5);
    transition: .5s;
}
