header {
    height: 100vh;
}

header .title {
    font-family: var(--shadows);
    /* font-size: 4em; */
    font-weight: 600;
}

header .text {
    font-weight: 100;
    /* font-size: 2em; */
    letter-spacing: 3px;
    color: var(--color2);
}

header .link {
    left: 50%;
    transform: translateX(-50%);
    bottom: 2em;
}
