header {
    height: 100vh;
}

header .title {
    font-family: var(--source);
    font-weight: 600;
}

header .text {
    letter-spacing: 3px;
    color: var(--color2);
}

header .link {
    left: 50%;
    transform: translateX(-50%);
    bottom: 2em;
}
