#projetos .row {
    padding: 5em 0;
}

#projetos h2:first-child {
    font-family: var(--Architects);
    font-weight: 600;
}
#projetos .custom-shadow {
    filter: drop-shadow(7px 15px 5px rgba(0, 0, 0, 0.5));
}

#projetos .top-100px {
    top: 100px !important;
}

#projetos .top-300px {
    top: 300px !important;
}

#projetos .start-50px {
    left: 50px !important;
}

#projetos .fundo {
    position: absolute;
    transform: translateY(-50%);
    left: -5%;
    font-size: 15em;
    font-weight: bold;
    color: var(--color4);
    white-space: nowrap;
    z-index: -1;
}

#projetos .link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5em;
    text-decoration: none;
    color: var(--color2);
    margin-top: 2em;
    transition: .4s;
}

#projetos .link:hover {
    color: var(--color5);
    transition: .4s;
}
