.sobre {
    z-index: 1;
    min-height: 100vh;
    padding-top: 2em;
    padding-bottom: 8em;
}

.sobre p:first-child {
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
    font-size: 20em;
    font-weight: bold;
    color: var(--color4);
    white-space: nowrap;
    z-index: -1;
}

.sobre .title {
    font-family: var(--shadows);
    font-weight: 600;
}

.sobre .text {
    line-height: 2;
}

.sobre img {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    filter: drop-shadow(20px 20px 5px rgba(0, 0, 0, 0.5));
}
