#sobre {
    z-index: 1;
    min-height: 100vh;
    padding-top: 2em;
    padding-bottom: 8em;
}

#sobre span {
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    font-size: 20em;
    font-weight: bold;
    color: var(--color4);
    white-space: nowrap;
    z-index: -1;
}

#sobre .title {
    font-family: var(--Architects);
    font-weight: 600;
}

#sobre .text {
    line-height: 2;
}

#sobre .icon a {
    color: var(--color2);
    transition: .4s;
}

.fa-html5:hover {
    color: orange;
    transition: .4s;
}

.fa-css3:hover,
.fa-react:hover {
    color: var(--color5);
    transition: .4s;
}

.fa-js:hover {
    color: #eeee77;
    transition: .4s;
}

.fa-database:hover {
    color: var(--color3);
    transition: .4s;
}

.fa-node:hover {
    color: green;
    transition: .4s;
}

.fa-github:hover {
    color: var(--color1);
    transition: .4s;
}

#sobre .image {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

#sobre .image img {
    width: 100%;
}

@media (max-width: 767px) {
    #sobre .image {
        width: 250px;
        height: 250px;
    }
}
