#sobre {
    z-index: 1;
    min-height: 100vh;
    padding-top: 2em;
    padding-bottom: 8em;
}

#sobre p:first-child {
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    font-size: 20em;
    font-weight: bold;
    color: var(--color4);
    white-space: nowrap;
    z-index: -1;
}

#sobre .title {
    font-family: var(--shadows);
    font-weight: 600;
}

#sobre .text {
    line-height: 2;
}

#sobre .image {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(10px 15px 5px rgba(0, 0, 0, 0.5));
}

#sobre .image img {
    width: 100%;
}

@media (max-width: 767px) {
    #sobre .image {
        width: 250px;
        height: 250px;
    }
}