#sobre {
    z-index: 1;
    min-height: 100vh;
    padding-top: 2em;
    padding-bottom: 8em;
}

#sobre p:first-child {
    top: 50%;
    left: -5%;
    transform: translateY(-50%);
    font-size: 20em;
    font-weight: bold;
    color: var(--color4);
    white-space: nowrap;
    z-index: -1;
}

#sobre .title {
    font-family: var(--shadows);
    font-weight: 600;
}

#sobre .text {
    line-height: 2;
}

#sobre .image {
    width: 400px;
    height: 400px;
    background-image: url('/src/img/danilo-cruz.jpeg');
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    filter: drop-shadow(10px 15px 5px rgba(0, 0, 0, 0.5));
}
